/*Css By Azer, Copyright 2011 Azer Cms. All Rights Reserved.*/
body
{
margin:0px;
font-family:Verdana;
background:#efefef;
font-size:11px;
color:#343235;
}

body a
{
color:#343235;
text-decoration:underline;
}

.top-bar
{
width:auto;
height:40px;
background:url(../images/top.png);
}

.logo
{
width:200px;
height:40px;
background:url(../images/logo.png);
margin-left:-5px;
cursor:pointer;
}

#logo
{
width:1000px;
margin-left:auto;
margin-right:auto;
}

.bar
{
width:auto;
height:20px;
background:#060f13;
border-bottom:1px solid white;
color:#cccccc;
}

.bar a
{
color:#cccccc;
}

#bar
{
width:1000px;
margin-right:auto;
margin-left:auto;
padding-top:0px;
}

.body
{
width:1000px;
margin-right:auto;
margin-left:auto;
}

#body
{
width:1000px;
border:none;
padding:0px;
margin:0px;
margin-top:-1px;
}

.main
{
width:800px;
min-height:100px;
max-height:auto;
background:#060f13;
border-left:1px solid white;
border-bottom:1px solid white;
border-right:1px solid white;
border-bottom-right-radius:5px;
-moz-border-radius-bottomright:;
-webkit-border-bottom-right-radius:5px;
border-bottom-left-radius:5px;
-moz-border-radius-bottomleft:5px;
-webkit-border-bottom-left-radius:5px;
color:#cccccc;
}

.main a
{
  color:#cccccc;
}

.main a:hover
{
  text-decoration:none;
}

.logout
{
height:18px;
background:none;
border:none;
color:#cccccc;
cursor:pointer;
text-decoration:underline;
font-size:11px;
}

.logout:hover
{
text-decoration:none;
}

.left-top
{
width:190px;
height:30px;
background:#060f13;
font-size:13px;
text-align:center;
margin-top:5px;
margin-left:-5px;
color:#cccccc;
cursor:pointer;
border:1px solid white;
}

.left-body
{
width:190px;
min-height:30px;
max-height:auto;
}

.left-body ul
{
list-style:none;
margin-left:-45px;
}

.left-body li
{
padding-bottom:5px;
}

.left-body a
{
text-decoration:none;
}

.left-body a:hover
{
margin-left:5px;
text-decoration:underline;
}

.news-title
{
width:700px;
background:#efefef;
border:none;
}

.news-body
{
width:696px;
height:200px;
background:#efefef;
border:none;
}

.news-title:focus
{
outline:none;
}

.news-body:focus
{
outline:none;
}

#grid
{
border:none;
border-collapse:collapse;
}

#grid td
{
text-align:center;
border:1px solid #12303d;
margin:0px;
background:#efefef;
color:#060f13;
}

#grid td#title
{
font-weight:bold;
background:#1e4c61;
color:#efefef;
}